@import "tailwindcss";

@layer utilities {
    .bg-azul-marino {
        background-color: #1A2E3B;
    }

    .bg-marfil-suave {
        background-color: #F9F6F1;
    }

    .bg-oro-arenoso {
        background-color: #D4B28C;
    }

    .text-grafito {
        color: #333333;
    }

    .text-azul-marino {
        color: #1A2E3B;
    }

    .border-oro-arenoso {
        border-color: #D4B28C;
    }

    .border-azul-marino{
        border-color: #1A2E3B;
    }

    /* En tu archivo CSS principal (ej. globals.css) */
    @keyframes fadeInDown {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .animate-fade-in-down {
        animation: fadeInDown 0.3s ease-out forwards;
    }
}